$fuente-principal:  'Source Sans Pro', sans-serif;
$color-principal: #2B2B2B;
$color-tipografia: #ADADAD;
$color-Bboton: #00e600;
$color-TipoB: white;
$color-sec: #191919;


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


.bar{
    background-color: $color-principal;
    width: 100%;
    height: 50px;
    .area{
        margin: auto;
        width: 80%;
        height: 100%;
        
        display: flex;
        align-content: stretch;
           justify-content: space-between;
        .logo{
            display: flex;
            width: 40%;
            height: 100%;
            
        } 
        .menu{
            text-align: center;
            width: 20%;
            height: 100%;
            font: 100% $fuente-principal;
            display: inline-flex;
            margin: auto;
            a{
                position: relative;
                bottom: -22px;
                color: #ADADAD;
                text-decoration: none;
                margin: 0 50px;
            }
        }
        .buscar{
            
            width: 30%;
            height: 100%;
            .imgB{
                position: relative;
                float: right;
                top: 10px;
                right: 20;
            }
           
        }
        .car{
            width: 10%;
            height: 100%;
            display: flex;
        align-content: stretch;
        
        .imgCa{
            position: relative;
                bottom: -12px;
        }
        .textoC{
            height: 100%;
            float: right;
            font: 100% $fuente-principal;
            color: $color-principal;
            position: relative;
                bottom: -22px;
        .carrito{
            height: 40%;
            float: right;
            font: 100% $fuente-principal;
            color: $color-TipoB;
            position: relative;
            background-color: $color-Bboton;
        border-radius: 10px;
        padding: 4px;
        text-align: center;
                bottom: 11px;
                left: -45px;
        }
    }
}
    }
    
}
.pagina{
    background-color: #191919;
    height: auto;
    
.filtros{
    
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 20%;
    height: 100%;
    cursor: progress;
    top: -12px;
    right: 0;
    left: 40px;
    padding: 20px;
    border: none;
    font: 100% $fuente-principal;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: $color-principal;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    .precio{
        text-align: center;
        margin: auto;
        -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  height: 120px;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: 100% $fuente-principal;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: $color-sec;
  -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) , 0 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) , 0 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;

        
    
    
    }

    .tipo{
        margin-top: 50px;
        text-align: center;
        margin: auto;
        -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  height: 90px;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: 100% $fuente-principal;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: $color-sec;
  -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) , 0 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) , 0 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;   
    }

    .colors{
        
        margin-top: 50px;
        text-align: center;
        margin: auto;
        -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  height: 170px;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: 100% $fuente-principal;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: $color-sec;
  -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) , 0 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) , 0 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ; 
  .Negro{
      text-align: center;
      margin: auto;
      width: 20%;
      background: rgb(17, 17, 17);
      border-radius: 50px;
      text-decoration: none;
      
        
      .nbr{
        color: rgb(17, 17, 17);
        font-family: 100% $fuente-principal;
        text-decoration: none;
     }
    }
    .Verde{
        text-align: center;
        margin: auto;
        width: 20%;
        background: $color-Bboton;
        border-radius: 50px;
        text-decoration: none;
        
          
        .nbr1{
          color: $color-Bboton;
          font-family: 100% $fuente-principal;
          
       }
      }
      .Rosa{
        text-align: center;
        margin: auto;
        width: 20%;
        background: pink;
        border-radius: 50px;
        text-decoration: none;
        
          
        .nbr2{
          color: pink;
          font-family: 100% $fuente-principal;
          
       }
      }
      .Blanco{
        text-align: center;
        margin: auto;
        width: 20%;
        background: white;
        border-radius: 50px;
        text-decoration: none;
        
          
        .nbr3{
          color: white;
          font-family: 100% $fuente-principal;
          
       }
      }
      .Gris{
        text-align: center;
        margin: auto;
        width: 20%;
        background: grey;
        border-radius: 50px;
        text-decoration: none;
        
          
        .nbr4{
          color: grey;
          font-family: 100% $fuente-principal;
          
       }
      }
  }
    }
}

.sectionProducto{
    display: flex;
.productosContainer {
    margin-left: 12%;
    width: 78%;
    .algo{
        display: inline-block;
        margin: auto;
    .productoContainer {
        display: inline-block;
        margin: auto;
        width: 100%;
        margin: 2px;
        
        .producto {
            display: flex;
            flex-direction: column;
            width: 95%;
            margin-left: 100px;
            margin-top: 100px;
            margin: auto;
            background: $color-principal;
            
            
            img {
                width: 100%;
                margin: auto;
            }
            .precio{
                
                font: 100% $fuente-principal;
                color: #00e600;
                text-align: center;
            }
            .agregar{
                padding: 5px;
                -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      width: 50%;
      height: 3%;
      cursor: pointer;
      margin: 0 auto;
      border: 2px solid $color-Bboton;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      font: 100% $fuente-principal;
      color: $color-Bboton;
      text-align: center;
      -o-text-overflow: clip;
      text-overflow: clip;
      letter-spacing: 1px;
      background: rgba(0,0,0,0);
      -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
      -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
      -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
      transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    }
    
    .agregar:hover {
      color: rgba(255,255,255,1);
      background: 100% $fuente-principal;
    }
    
    .agregar:active {
      border: 2px solid 100% $fuente-principal;
      background: 100% $fuente-principal;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
        }
        }
        
}
}
}

}
